<h1 class="animated fadeIn fast">Sobre Comic App</h1>
<hr>
<p class="animated fadeIn fast">
  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequuntur delectus dignissimos distinctio dolore enim hic iusto minima minus molestias nulla odio pariatur provident, quasi, quis recusandae reprehenderit sapiente sed vitae?
  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias at ducimus eius ipsam iste minus nihil qui. Blanditiis ducimus earum facere inventore laborum, laudantium magnam quos sequi sint suscipit temporibus.
  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet autem beatae cum cumque delectus deleniti ea earum ex facilis ipsam laboriosam libero nemo, perspiciatis quas quia quisquam reprehenderit sequi veniam!
</p>